* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img{
    object-fit: contain;
    height: fit-content;
}

dl, dt, dd{
    list-style: none;
}

ul a{
    color: #003cff;
    text-decoration: none;
    font-weight: 500;
}

body{
    background: linear-gradient(#ff76e8, #ffb55f);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    background-color: white;
    border-radius: 40px 40px 0 0px;
    display: flex;
    height: 20vh;
    margin: 0 10vw 0 10vw;
    align-items: center;
}

header img{
    height: 50%;
    object-fit: contain;
    margin: 30px;
}

header ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin-left: 100px;
    font-weight: 600;
}


main{
    display: grid;
    grid-template-columns: repeat(6, 13.3vw);
    margin: 0 10vw 0 10vw;
    background-color: white;
}

.profile-info{
    display: flex;
    grid-column: 2/6;
    grid-row: 1 / span 3;
    column-gap: 20px;
    font-weight: 500;
    flex-flow: row;

}


.profile-info img{
    border: 4px solid #ff76e8;
    padding: 20px;
    border-radius: 50px;
}

.profile-info dl{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.profile-content{
    grid-row: 5/6;
    grid-column: 1/7;

}


.profile-content ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    justify-content: center;
    border: 3px solid #ffb55f;
    border-radius: 20px;
    margin: 20px;
}

.icon{
    z-index: 1;


}


.post-spaces img{
    height: calc(100vw / 4);
    width: calc(100vw / 4);
    object-fit: cover;
    z-index: 0;
    transition: .5s ease;
}

.post-spaces td:hover img{
    opacity: 0.8;

}

.post-spaces table{
    margin-left: auto;
    margin-right: auto;
}



.post-spaces td {
    position: relative;
    z-index: 0;

}

.post-spaces #pt{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    color: rgba(255, 255, 255, 0.9);
}

.post-spaces article{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.349);
    color: white;
    max-height: 10vw;
    font-size: 0.8vw;
    width: 100%;
    gap: 5px;
}


.info{
    display: flex;
    gap: 20px;
}

.material-icons{
    font-size:10px;
}

.profile-preview{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.profile-preview button{
    z-index: 1;
    height: 90vh;
    position:absolute;
    width:50px;
    background-color: rgba(255, 255, 255, .6);
    display: none;
}

.profile-preview #sideR{
    right:0;
}

.profile-preview #sideL{
    left:0;
}

.profile-preview img{
    position: relative;
    height: 90vh;
}

.profile-preview span{
    color: white;
    margin: 50px;

}

.profile-preview a{
    background: linear-gradient(#07f04d, #00e617);
    border-radius: 50%;
    color: rgb(255, 255, 255);
}

.profile-preview #download{
    position: absolute;
    border: 4px solid rgb(208, 208, 208);
    border-radius: 50%;
    font-size: 40px;
    font-variation-settings:
            'FILL' 0,
            'wght' 600,
            'GRAD' 0,
            'opsz' 24

}

.profile-preview article{
    position: relative;
}

span[onclick] {
    cursor: pointer;
}







